<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="f-info">
                <div class="f-info-socials">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/priyanshuchauhan01/"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/priyanshu-chauhan-3b1984257/   ">  <i class="fa-brands fa-linkedin"></i></a>
                </div>
                <div>&copy; Wonder Private Limited</div>
                <div class="f-info-links">
                    <a href="/privacy">Privacy</a>
                    <a href="/terms">Terms</a>
                    <a href="/company">Company Detail</a>
                </div>
            </div>
        </div>
    </div>
</footer>
