<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a><a href="/listings" style="color: red; text-decoration: none;">
      <h3 class="logoname"><b>Wonder</b></h3>
  </a>
    <form class="d-flex search" role="search">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto dropdown">
        <button class="wonderhome"><b><a href="/listings/new" style="text-decoration: none;">Wonder your Home</a></b></button>
        <button class="golbe"><i class="fa-solid fa-globe"></i></button>
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-ellipsis-vertical" style="margin-right: 10px;"></i>
          <i class="fa-solid fa-user"></i>
          <% if (currentUser) { %> <%= currentUser.username %> <% } %>
        </button>
        <% if (!currentUser) { %> 
          <ul class="dropdown-menu">
            <li><a class="nav-link dropdown-item" href="/signup"><b>Sign up</b></a></li>
            <li><a class="nav-link dropdown-item" href="/login"><b>Log in</b></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/listings/new">Wonder your Home</a></li>
            <li><a class="dropdown-item" href="/company">Help and center</a></li>
          </ul>
        <% } %> 
        <% if (currentUser) { %> 
          <ul class="dropdown-menu">
            <li><a class="nav-link dropdown-item" href="/logout"><b>Log out</b></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/listings/new">Wonder your Home</a></li>
            <li><a class="dropdown-item" href="/company">Help and center</a></li>
          </ul>
        <% } %>
      </div>
    </div>
    <button id="openBtn"><i class="fa-solid fa-bars"></i></button>
    <div id="sidePanel">
    <button id="closeBtn"><i class="fa-solid fa-circle-xmark"></i></button>
    <div class="sidepannel">
      <% if (!currentUser) { %> 
      <a href="/listings"><i class="fa-solid fa-house"></i><b>Home</b></a>
      <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> login</a>
      <a href="/signup"><i class="fa-solid fa-user-plus"></i>Signup</a>
      <a href="/listings/new"><i class="fa-solid fa-igloo"></i>Wonder Youe Home</a>
      <a href="/company"><i class="fa-regular fa-circle-question"></i>Help and Center</a>
       <% } %> 
       <% if (currentUser) { %> 
        <a href="/listings"><i class="fa-solid fa-house"></i><b>Home</b></a>
        <a href="/logout"><i class="fa-solid fa-right-to-bracket"></i>Logout</a>
        <a href="/listings/new"><i class="fa-solid fa-igloo"></i>Wonder Youe Home</a>
        <a href="/company"><i class="fa-regular fa-circle-question"></i>Help and Center</a>
        <% } %>
    </div>
  </div>
</div>  
</nav>


