<% layout("layouts/boilerplate") %>
<h1>Company Details</h1>
<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpsx8z4J_QTib2WKeCPNCnOpIM_VP4BFKEoQ&usqp=CAU" alt="Example Image">
<br>
<br>
<div class="privacy-container col-lg-8 col-md-10 col-sm-12">
    <h5>Provider of the website:</h5>
    <p>Wonder India UC<br>
        8 Hanover Quay<br>
        Dehradun<br>  
        Uttarakhand</p><br>
     <p>
        <b>Directors:</b>Priyanshu Chauhan<br>
        <b>VAT-ID:</b> IE9827384L<br>
        <b>Trade Register Number:</b> (My Companies Registration Office) IE 511825<br>
     </p>
    <h5>Contact us:</h5>
    <p><b>Email address :</b>priyanshuchauhan828@gmail.com<br>
        <b> Wonder support :</b>https://www.Wonder.co.in/help/contact_us</p>
    <p>If you have a complaint or concern about Wonder’s platform or violations of Wonder’s Terms of Service, you may contact the India grievance officer:
        Wonder India UC<br>
        
        Owner: Priyanshu Chauhan, Full-Stack developer<br><br>

        8 Hanover Quay<br>
        Dehradun<br>
        Uttarakhand<br>
        Email: priyanshuchauhan828@gmail.com</p>
</div>
