<% layout("layouts/boilerplate") %>
<h1>Wonder Privacy</h1>
<br>
<img src="https://images.contentstack.io/v3/assets/bltec2ed8e3c4b1e16d/blt1218bbc6d8c51315/61dcad421757dc6aed2ade70/airbnb-privacy.jpeg" alt="Example Image">
<br>
<br>
<div class="privacy-container col-lg-8 col-md-10 col-sm-12">
    <h4>Privacy Policy</h4>
    <p>Our Privacy Policy explains what personal information we collect, how we use personal information, how personal information is shared, and privacy rights.</p>
    <h5>Privacy Policy</h5>
    <ul>
        <li>Privacy Policy</li>
        <li>Privacy Policy for China</li>
    </ul>
    <p>Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Airbnb services, that may be applicable to you.</p>
    <h6>Supplemental Privacy Policy Documents</h6>
    <ul>
        <li>Outside the United States</li>
        <li>State-Specific Supplements</li>
        <li>Cookie Policy</li>
        <li>Enterprise Customers and Airbnb for Work</li>
        <li>Colombia Only</li>
        <li>Non-User DAC7 Privacy Notice</li>
    </ul>
    <h4>Why we verify identity</h4>
    <p>Verifying the identity of guests and Hosts helps us to:</p>
    <ul>
        <li>Minimise fraudulent behaviour</li>
        <li>Do background checks where permitted under applicable laws</li>
        <li>Comply with applicable laws, which include payment and tax laws</li>
        <li>Respond to and investigate safety and security issues such as assault or robbery</li>
    </ul>
</div>
