<% layout("layouts/boilerplate") %>
<h1>Terms of Service</h1>
<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwX7BiZWK-igcSzB7311H-8rOjz4FTi8NiUg&usqp=CAU" alt="Example Image">
<br>
<br>
<div class="privacy-container col-lg-8 col-md-10 col-sm-12">
    <h4>Terms of Service for European Users</h4>
    <p>As a consumer who resides in the EEA you can access the European Commission’s online dispute resolution platform here: https://ec.europa.eu/consumers/odr. Please note that Wonder is not committed nor obliged to use an alternative dispute resolution entity within the meaning of Directive 2013/11 EU to resolve disputes with consumers. The European Commission’s online dispute resolution platform is not available for residents of Switzerland or the United Kingdom.
    <br><b>Section 25 of these Terms contains an arbitration agreement and class action waiver that applies to all claims brought against Wonder in the United States. Please read them carefully.</b></p>
    <br><p>Last Updated: 25 January 2024</p>
    <br><p>Thank you for using Wonder!</p>
    
    <p>These Terms of Service for European Users (“Terms”) are a binding legal agreement between you and Wonder that govern your right to use the websites, applications, and other offerings from Wonder (collectively, the “Wonder Platform”). When used in these Terms, “Wonder,” “we,” “us,” or “our” refers to the Wonder entity set out on Schedule 1 with whom you are contracting.

        The Wonder Platform offers an online venue that enables users (“Members”) to publish, offer, search for, and book services. Members who publish and offer services are “Hosts” and Members who search for, book, or use services are “Guests.” Hosts offer accommodations (“Accommodations”), activities, excursions and events (“Experiences”), and a variety of travel and other services (collectively, “Host Services,” and each Host Service offering, a “Listing”). As the provider of the Wonder Platform, Wonder does not own, control, offer or manage any Listings, Host Services, or tourism services. Wonder is not a party to the contracts entered into directly between Hosts and Guests, nor is Wonder a real estate broker, travel agency, insurer or an organiser or retailer of travel packages under Directive (EU) 2015/2302. Wonder is not acting as an agent in any capacity for any Member, except as specified in the Payments Terms of Service (“Payment Terms”). To learn more about Wonder’s role see Section 17.
        
        We maintain other terms and policies that supplement these Terms like our Privacy Policy, which describes our collection and use of personal data, and our Payments Terms, which govern any payment services provided to Members by the Wonder payment entities (collectively "Wonder Payments").</p>
    <h5>Privacy Policy</h5>
    <ul>
        <li>Privacy Policy</li>
        <li>Privacy Policy for China</li>
    </ul>
    <p>Please review the supplemental privacy policies linked within the privacy policy documents, such as for certain Wonder services, that may be applicable to you.</p>
    <h6>Supplemental Privacy Policy Documents</h6>
    <ul>
        <li>Outside the United States</li>
        <li>State-Specific Supplements</li>
        <li>Cookie Policy</li>
        <li>Enterprise Customers and Wonder for Work</li>
        <li>Colombia Only</li>
        <li>Non-User DAC7 Privacy Notice</li>
    </ul>
    <h4>Why we verify identity</h4>
    <p>Verifying the identity of guests and Hosts helps us to:</p>
    <ul>
        <li>Minimise fraudulent behaviour</li>
        <li>Do background checks where permitted under applicable laws</li>
        <li>Comply with applicable laws, which include payment and tax laws</li>
        <li>Respond to and investigate safety and security issues such as assault or robbery</li>
    </ul>
</div>
